$font: 'Averia Serif Libre';
$fontSize: 15px;

.topContainer{
	background: url(caffee2.jpg) no-repeat center fixed;
	height: 500px;
	background-size: cover;
	width: 100%;
	z-index: 1;
	display: flex;

	.caffeeLogo{
		//align-items: center;
		display: inline-block;
		vertical-aling: middle;
		padding-top: 2.7%;
	}

	nav{
		width: 100%;
		//background-color: green;
		z-index: 4;
		height: 110px;
		padding-bottom: 10px;
		display: inherit;


		p{
			font-family: $font;
			font-size: $fontSize;
			z-index:5;
			color: white;
			padding-left: 10px;
			margin: 0;
		}

		img{
			border-radius: 50%;
			z-index: 5;
			height: 50px;
			width: auto;
			margin-left: 12%;
			margin-top: 2%;
		}
	}
}