$font: 'Averia Serif Libre';
$fontSize: 15px;

.topContainer{

	background: url(caffee2.jpg) no-repeat center fixed;
	height: 550px;
	background-size: cover;
	width: 100%;
	z-index: 1;
	position: relative;
	
	text-align: center;
	.caffeeLogo{
		display: inline-block;
		padding-top: 2.7%;
	}

	nav{
		width: 100%;
		//background-color: green;
		height: 110px;
		padding-bottom: 10px;
		display: flex;

		p{
			font-family: $font;
			font-size: $fontSize;
			color: white;
		}

		.logoText{
			font-family: $font;
			font-size: $fontSize;
			color: white;
			padding-left: 10px;
			margin: 0;
		}

		img{
			border-radius: 50%;
			height: 50px;
			width: auto;
			margin-left: 12%;
			margin-top: 2%;
		}
	}

}

.rightSideInfo{
	//display: inherit;
	//margin: 0;
	//background-color: purple;
	margin-left: 30%;
	justify-content: space-between;
	padding-top: 2.7%;
	margin-right: 0;
	width: 100%;

	p{
		display:inline-block;
		padding-right: 20px;
		padding-left: 20px;
		&:hover{
			color: orange;
		}
	}
}

.dot{
	height: 7px;
    width: 7px;
    border-radius: 50%;
    display: inline-block;
    background-color: orange;
    display: inline-block;
 }

 h1{
 	font-family: $font;
 	font-size: 80px;
 	color: orange;
 	vertical-align: middle;
 	margin-bottom: 1px;
 	//-webkit-text-stroke: 0.3px black;
 }

 .forkKnife{
 	vertical-align: middle;
 	width: 100%;
 	//background-color: blue;

 	p{
 		width: 100px;
 		color: transparent;
 		display: inline-block;
 		text-decoration-line: overline;
 		text-decoration-style: wavy;
 		text-decoration-color: orange;
 		padding-right: 200px;
 		padding-left: 10px;
 		padding-top: 0px;
 		margin-top: 0px;
 	}

 	img{
 		//padding: 10px;
 		display: inline-block;
 		margin-top: 6px;
 		height: 25px;
 	}

 }

 .randomText{
 	//margin-left: 80px;
 	font-family: $font;
 	font-size: $fontSize +5;
 	color: orange;
 	margin-top: 0;

 	&:hover{
 		font-size: $fontSize + 20;
 	}
 }

 .dropDownMenu{
 	width: 100%;
 	background-color: #e6e6e6;
 	bottom: 0;
 	left: 0;
 	position: absolute;
 	display: flex;
 	//top:500px;
 	height: 50px !important;

 	ul{
 		justify-content: space-between;
 		width: 50%;
 		align-items: flex-start;
 		//background-color: pink;
 	}

 	li{
 		width: 20%;
 		display: inline-block;
 		font-family: $font;
 		font-size: $fontSize;

 	}

 	.slider{

 		width: 50%;
 		justify-content: center;

 		p{
 			display: inline-block;
 			font-family: $font;
 			font-size: $fontSize;
 			color: black;

 		}

 		input{
 			display: inline-block;
 			max: 500;
 			min: 15;

 		}

 		.price{
 			color: grey;
 		}
 	}
 }

.arrow {
  border: solid orange;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

 .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.child{
		display: none;		
	}

.parent > li{
	display: inline-block;
			//width: 20%;
	text-align: center;
			//font-size: 30px;
	padding-top: 8px;
	cursor: pointer;
			//float: left;
}

.menu{
	margin-top: 50px;
}

.items{
	display: flex;
	margin-left: 110px;
	margin-right: 50px;


	.item{
		outline-color: #e6e6e6;
		outline-style: solid;
		outline-width: 0.5px;
		align-items: flex-start;

		.picture{
			height: 250px;
			display: flex;
		}

		img{
			width: 250px;
			height: auto;
			border-radius: 50%;
			padding-right: 50px;
			padding-left: 20px;
			padding-top: 3px;
			justify-content: space-evenly;
		}

		p{
			font-family: $font;
			justify-content: center;
			text-align: center;
			margin: 1;
		}

		.price{
 			color: orange;
 			font-size: $fontSize;
 		}

 		.category{
 			color: grey;
 			font-size: $fontSize;

 		}

	}
}

.title{
 	font-size: 80px;
 }